$grid-columns: 12;
$gutter: 0 15px;
$col-width: 100%;

// box item
$bg-color: #CCC;
$font-color: #fff;
$padding-box: 10px;
$radius-box: 10px;

//tablet
$media-tablet: 767px;
$width-tablet: 740px;

//desktop
$media-desktop: 1200px;
$width-desktop: 1200px;